/*
  Text mixins
*/

@mixin text-size($font-size, $line-height, $font-weight: 400) {
  font-size: rem($font-size);
  font-weight: $font-weight;
  line-height: math.div($line-height, $font-size);
}

/*
  Reset mixins
*/

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin resetting-vertical-indentation-of-first {
  &:first-child {
    margin-top: 0;
  }
}

@mixin resetting-vertical-indentation-of-last {
  &:last-child {
    margin-bottom: 0;
  }
}

/*
  Position mixins
*/

@mixin position-stretching($position: absolute, $z-index: null) {
  position: $position;

  @if $z-index {
    z-index: $z-index;
  }

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
